<%= form_with model: user do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
      <% user.errors.full_messages_for(:name).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.label :phone_number %><br>
      <%= form.text_area :phone_number %><br>
      <% user.errors.full_messages_for(:phone_number).each do |message| %>
        <div><%= message %></div>
      <% end %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
